[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
langchain = "*"
apscheduler = "*"
python-datauri = "*"
pydantic-extra-types = "*"
pycountry = "*"
langchain-openai = "*"
langchain-google-genai = "*"
langchain-aws = "*"
langchain-community = "*"
boto3 = "*"
langchain-anthropic = "*"
langchain-ollama = "*"
langchain-cohere = "*"
langchain-chroma = "*"
langchain-groq = "*"
langchain-huggingface = "*"
langchain-mistralai = "*"
langchain-ibm = "*"
langchain-nvidia-ai-endpoints = "*"
langchain-perplexity = "*"
langchain-azure-ai = "*"
pypdf = "*"
docx2txt = "*"
chardet = "*"
python-magic = "*"
docx = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
