@import './base.css';

.multiselect, .multiselect__single, .multiselect__tag, .multiselect__input {
	font-size: 1rem !important;
}

.multiselect__option--highlight {
	background: var(--bs-tertiary-bg);
	outline: none;
	color: inherit !important;

}

.multiselect__option--highlight::after {
	background: var(--bs-tertiary-bg);
	outline: none;
	color: inherit !important;
}

.custom-copied-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-body-padding-x: 0.5rem;
	--bs-popover-body-padding-y: .25rem;
}

.nav-link {
	font-weight: bold !important;

}
/*TABLES STYLE*/
.lvr-content-table table tr > * {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

thead > tr > th {
	font-weight: bold;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
		background-color: rgba(100, 100, 100, 0.4); /* semi-transparent gray */
	display: flex;
		 align-items: center;
		 justify-content: center;
		 z-index: 9999;
}

.spinner {
	border: 6px solid #f3f3f3;
		border-top: 6px solid #333;
		border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	to { transform: rotate(360deg); }
}

.cursor-pointer {
	cursor: pointer;
}

.notification-message {
	text-decoration: underline;
	font-weight: bold;
}
